Hola mundo {{ title }}

<div>
  <input type="text" [(ngModel)]="texto" placeholder="CAMBIO" />
  <p>nueva variable {{ texto }}</p>
</div>

<h1>Calculadora</h1>

<div><input type="number" [(ngModel)]="numero1" /> {{ numero1 }}</div>
<div><input type="number" [(ngModel)]="numero2" /> {{ numero2 }}</div>
<div>
  <input type="button" value="sumar" (click)="operar('s')" />
  <input type="button" value="restar" (click)="operar('r')" />
  <input type="button" value="multiplicar" (click)="operar('m')" />
  <input type="button" value="dividir" (click)="operar('d')" />
</div>
<hr />
<h2>Resultado</h2>
<div>
  {{ resultado }}
</div>
-----Componente hija------
<app-login></app-login>
